@import url("../../common/_vars.css");
.object-figure { position: relative; margin: 0 0 1.5rem 0; }
.object-figure__image { width:100%; height:360px; max-height:400px; object-fit:cover; border-radius:12px; display:block; }
@media (max-width: 992px) {
  .object-figure__image { height: 300px; max-height:320px; }
}
